/* 页面切换时候过渡样式 */
.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}

/* 打开时候过渡样式 */
.page-enter, .page-leave-active {
    opacity: 0;
}

/* 页面顶部页面加载进度条 */
.nuxt-progress{
    background:#409eff;
    height: 1px;
}

@font-face {
    font-family: 'iconfont';  /* project id 1280296 */
    src: url('//at.alicdn.com/t/font_1280296_fwhvqa7lpgm.eot');
    src: url('//at.alicdn.com/t/font_1280296_fwhvqa7lpgm.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1280296_fwhvqa7lpgm.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1280296_fwhvqa7lpgm.woff') format('woff'),
    url('//at.alicdn.com/t/font_1280296_fwhvqa7lpgm.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1280296_fwhvqa7lpgm.svg#iconfont') format('svg');
  }
  
  